* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: rgb(245, 245, 220);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 0.8em;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.item p {
  padding-right: 10px;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  overflow: auto;
  cursor: pointer;
}

.item {
  /* padding: 10px; */
  margin: 5px;
  background-color: #e9c32ac0;
  border-radius: 50px;
}

input {
  border: none;
  text-align: center;
  border-radius: 20px;
  height: 30px;
  width: 40%;
  font-size:0.8rem;
  margin-bottom: 10px;
  margin-right: 10px;
}

.add-btn {
  background-color: #e6c303;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}









.checkbox-round :after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}





.checkbox-round {
  width: 2em;
  height: 2em;
  /* background-color: white; */
  border-radius: 50%;
  vertical-align: super;  /* vertical-align: middle; */
  margin-top: 10px;
  padding: 0px;
  border: solid black 3px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: black;
}

button {
  color: black;
  background-color: black;
  /* margin-left: 10px;
  margin-top: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  border: none; */
}

/* button {
  color: rgb(245, 245, 220);
  background-color: black;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
} */

.btn:focus {
  outline: none;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  /* background: white; */
  /* border: 1px solid #a0a096; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #000000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #bab7b7;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  /* border-radius: 20px; */
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #e6c303;
  color: black;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.input-add-item {
  padding-top: 20px;
}

.input.add-btn {
  color: black;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 50px;
  width: 100%;
  max-width: 540px;
  background-color: rgb(227, 225, 210);
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
